<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homes Template">
    <meta name="keywords" content="Homes, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"] - BatDongSan</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/style.css" type="text/css">

    <link rel="stylesheet" href="~/Client/css/MyStyle.css" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    @using Microsoft.AspNetCore.Http;
</head>
<body class="mystyle-body">
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BatDongSan</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                    <ul class="main-menu">
                        <li><a asp-controller="TrangChu" asp-action="Index">Trang chủ</a></li>
                        @*<li><a asp-controller="" asp-action="">Giới thiệu</a></li>*@
                        <li class="mystyle-dropdown">
                            <a a asp-controller="Dm" asp-action="Index">Danh mục</a>
                            <ul class="mystyle-dropdown-content">
                                <li><a asp-controller="Dm" asp-action="Index">Tin bán</a></li>
                                <li><a asp-controller="Dm" asp-action="TinChoThue">Tin cho thuê</a></li>
                                <li><a asp-controller="Dm" asp-action="TinMua">Tin mua</a></li>
                                <li><a asp-controller="Dm" asp-action="TinThue">Tin thuê</a></li>
                                <li><a asp-controller="Dm" asp-action="NhaMoiGioi">Nhà môi giới</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="TinTuc" asp-action="Index">Tin tức</a></li>
                        <li><a asp-controller="LienHe" asp-action="Index">Liên hệ</a></li>
                        <li class="mystyle-dangtin"><a asp-controller="DangTin" asp-action="DangTin">Đăng tin</a></li>
                        <li class="nav-item dropdown">
                            @if (Context.Session.GetString("username") == null)
                            {
                                @*<a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Người dùng</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">Đăng xuất</a>
                                    <a class="dropdown-item" href="#">Tài khoản</a>
                                </div>*@
                                <a asp-controller="DangNhap" asp-action="Login">Đăng nhập</a> 
                            }
                            else
                            {
                                <a asp-controller="DangNhap" asp-action="Login">@Context.Session.GetString("username")</a>
                            }
                        </li>
                    </ul>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero-section home-page set-bg" data-setbg="img/bg.jpg">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="hero-section home-page set-bg"></li>
                <li data-target="#demo" data-slide-to="1" class="hero-section home-page set-bg"></li>
                <li data-target="#demo" data-slide-to="2" class="hero-section home-page set-bg"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Client/img/bg.jpg" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="~/Client/img/bg-1.jpg" alt="Chicago">
                </div>
                <div class="carousel-item">
                    <img src="~/Client/img/bg-3.jpg" alt="New York">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <!--        <div class="container hero-text text-white">-->
            <!--            <h2>Find your next</h2>-->
            <!--            <h1>dream home.</h1>-->
            <!--        </div>-->
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Filter Search Section Begin -->
    <div class="filter-search">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    @await Component.InvokeAsync("TimKiem")
                </div>
                <div class="mystyle-timkiemnangcao"><a asp-controller="Dm" asp-action="TimKiemNangCao">TÌM KIẾM NÂNG CAO</a></div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-section">
        <!-- Rooms Pic Section End -->
        <div class="mystyle-container">
            <div class="container">
                <div class="row p-37">
                    <div class="col-lg-4">
                        <div class="about-footer">
                            <h5>About Homes</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend tristique venenatis.
                                Maecenas a rutrum tellus nam vel semper nibh.
                            </p>
                            <div class="footer-social">
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-blog">
                            <h5>Bài đăng mới nhất</h5>

                            <div class="single-blog">
                                <div class="lt-side">
                                    <img src="img/footer-blog-1.jpg" alt="">
                                </div>
                                <div class="rt-side">
                                    <h6>How to find the perfect area for<br> your next house.</h6>
                                    <div class="blog-time">
                                        <i class="flaticon-clock"></i>
                                        <span>5 min</span>
                                    </div>
                                    <a href="#" class="read-more">
                                        <i class="flaticon-right-arrow-1"></i>
                                        <span>Read More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="single-blog">
                                <div class="lt-side">
                                    <img src="img/footer-blog-2.jpg" alt="">
                                </div>
                                <div class="rt-side">
                                    <h6>How to find the perfect area for<br> your next house.</h6>
                                    <div class="blog-time">
                                        <i class="flaticon-clock"></i>
                                        <span>5 min</span>
                                    </div>
                                    <a href="#" class="read-more">
                                        <i class="flaticon-right-arrow-1"></i>
                                        <span>Read More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-address">
                            <h5>Liên hệ</h5>
                            <ul>
                                <li>
                                    <i class="flaticon-placeholder"></i><span>132 Liberty Streetelit, Plano, Texas</span>
                                </li>
                                <li><i class="flaticon-envelope"></i><span>hello@home.com</span></li>
                                <li><i class="flaticon-smartphone"></i><span>214-805-4428</span></li>
                            </ul>
                            <p>Monday – Friday: 9 am – 5 pm</p>
                            <p>Saturday: 9 am – 1pm</p>
                        </div>
                    </div>
                </div>

                <div class="row p-20">
                    <div class="col-lg-12 text-center">
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - BatDongSan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Client/js/bootstrap.min.js"></script>
    <script src="~Client//js/jquery.nice-select.min.js"></script>
    <script src="~/Client/js/owl.carousel.min.js"></script>
    <script src="~/Client/js/jquery-ui.min.js"></script>
    <script src="~/Client/js/jquery.slicknav.js"></script>
    <script src="~/Client/js/main.js"></script>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
