
@{
    ViewData["Title"] = "Tài khoản";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="mystyle-leftmenu">
                <li><a asp-controller="QuanLyTaiKhoan" asp-action="TaiKhoan"><i class="fas fa-user"></i>@Context.Session.GetString("username")</a></li>
                <li><a asp-controller="QuanLyTaiKhoan" asp-action="TinDaDang"><i class="fas fa-edit"></i>Tin đã đăng</a></li>
                <li><a asp-controller="QuanLyTaiKhoan" asp-action="TinDaLuu"><i class="fas fa-heart"></i>Tin đã lưu</a></li>
                <li><a asp-controller="QuanLyTaiKhoan" asp-action="QuanLyVi"><i class="fas fa-money"></i>Quản lý ví</a></li>
            </ul>
        </div>
        <div class="col-sm-9" style="border-left:solid 1px;">
            @RenderBody()
        </div>
    </div>
</div>

