@model BatDongSanId.ViewModels.TaiKhoanViewModel

@{ ViewData["Title"] = "Create";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

@*<h4>Tạo tài khoản mới</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="MatKhau" class="form-control" placeholder="Nhập mật khẩu"/>
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Ten" class="form-control" placeholder="Nhập tên"/>
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="GioiTinh" class="form-control" placeholder="Giới tính"/>
                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Nhập email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="SoDienThoai" class="form-control" placeholder="Nhập số điện thoại"/>
                    <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ"/>
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="SoDuVi" class="form-control" placeholder="Nhập số dư ví"/>
                    <span asp-validation-for="SoDuVi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if(ViewBag.LoaiTaiKhoanList != null)
                    {
                        @Html.DropDownListFor(model => model.LoaiTaiKhoan, ViewBag.LoaiTaiKhoanList as SelectList, "Chọn loại tài khoản", new { @class = "form-control"})
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<div class="row justify-content-center">
    <h4>Tạo tài khoản mới</h4>
</div>
<hr />
<div class="row h-75 justify-content-center align-items-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="password" asp-for="MatKhau" class="form-control" placeholder="Nhập mật khẩu" />
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Ten" class="form-control" placeholder="Nhập tên" />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.GioiTinh, ViewBag.GioiTinh as SelectList, "Chọn giới tính", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Nhập email" id="emailID" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="SoDienThoai" class="form-control" placeholder="Nhập số điện thoại" />
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (ViewBag.LoaiTaiKhoanList != null)
                        {@Html.DropDownListFor(model => model.LoaiTaiKhoan, ViewBag.LoaiTaiKhoanList as SelectList, "Chọn loại tài khoản", new { @class = "form-control" })}
                    </div>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imgInp" name="file1" onchange="readURL(this);" />
                        <label class="custom-file-label">Thêm ảnh đại diện</label>
                    </div>
                    <div style="margin-top:10px;margin-bottom:10px;">
                        <img style="max-width: 100%;" id="blah" src="#" alt="&emsp;Ảnh của bạn" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Đăng ký" class="btn btn-primary" id="submitID" />
                    </div>
                </form>
                <div>
                    <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#randomID").hide();
        var _result = null;
        $("#submitID").click(function () {
            if ($("input").val() == "") {
                alert("Vui lòng nhập đầy đủ thông tin!");
                return false;
            }
        });
    })

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imgInp").change(function () {
        readURL(this);
    });
</script>

