<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang Quản trị</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/Admin/css/mdb.min.css">

    <link rel="stylesheet" href="~/Admin/css/MyStyle.css">

    <!-- Your custom styles (optional) -->
    <style>
    </style>
</head>
<body class="fixed-sn white-skin">
    @model BatDongSanId.Areas.Admin.Models.ViewModel.MenuViewModel
    @{ ViewData["Title"] = "Default"; }
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="pl-0"><img src="@Model.Logo.DuLieuString"></a>
            </div>
            <hr />
        </li>
        <!--/. Logo -->
        <!--Search Form-->
        @*<li>
                <form class="search-form" role="search">
                    <div class="md-form mt-0 waves-light">
                        <input type="text" class="form-control py-2" placeholder="Tìm kiếm">
                    </div>
                </form>
            </li>*@
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-user"></i>
                        Tài khoản<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                @if (Model.DanhSachTaiKhoan.TrangThai == true)
                                {
                                <a asp-controller="TaiKhoan" asp-action="TaiKhoan" asp-route-loaiTK="5">Danh sách tài khoản</a>
                                }
                            </li>
                            <li>
                                @if (Model.LoaiTaiKhoan.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="LoaiTaiKhoan">Loại tài khoản</a>
                                }
                            </li>
                        </ul>
                    </div>
                </li>


                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="far fa-file-alt"></i>Tin bất động sản<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                @if (Model.TatCa.TrangThai == true)
                                {
                                    <a asp-controller="TinBDS" asp-action="Tin" asp-route-loaiTin="5" class="waves-effect">Tất cả</a>
                                }
                                </li>
                            <li>
                                @if (Model.ChuaDuyet.TrangThai == true)
                                {
                                    <a asp-controller="TinBDS" asp-action="ChoPheDuyet" class="waves-effect">Chưa duyệt</a>
                                }
                                </li>
                            <li>
                                @if (Model.ChuaXacThuc.TrangThai == true)
                                {
                                    <a asp-controller="TinBDS" asp-action="ChoXacThuc" class="waves-effect">Chưa xác thực</a>
                                }
                                </li>
                            <li>
                                @if (Model.DaGiaoDich.TrangThai == true)
                                {
                                    <a asp-controller="TinBDS" asp-action="DaGiaoDich" asp-route-option="4" class="waves-effect">Đã giao dịch</a>
                                }
                                </li>
                            <li>
                                @if (Model.PhanHoi.TrangThai == true)
                                {
                                    <a asp-controller="TinBDS" asp-action="PhanHoi" class="waves-effect">Phản hồi</a>
                                }
                                </li>
                        </ul>
                    </div>
                </li>


                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-edit"></i>Tin tức<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                @if (Model.SubTinTuc.TrangThai == true)
                                {
                                    <a asp-controller="TinTuc" asp-action="Tin" class="waves-effect">Tin tức</a>
                                }
                                </li>
                            <li>
                                @if (Model.VietBai.TrangThai == true)
                                {
                                    <a asp-controller="TinTuc" asp-action="VietBai" class="waves-effect">Viết bài</a>
                                }
                                </li>
                        </ul>
                    </div>
                </li>


                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-server"></i> Danh mục<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                @if (Model.LoaiTinBDS.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="LoaiTinBDS" class="waves-effect">Loại tin bất động sản</a>
                                }
                                </li>
                            <li>
                                @if (Model.LoaiTinTuc.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="LoaiTinTuc" class="waves-effect">Loại tin tức</a>
                                }
                                </li>
                            <li>
                                @if (Model.TinhThanh.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="TinhThanh" class="waves-effect">Tỉnh thành</a>
                                }
                                </li>
                            <li>
                                @if (Model.QuanHuyen.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="QuanHuyen" class="waves-effect">Quận huyện</a>
                                }
                                </li>
                            <li>
                                @if (Model.MucGia.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="MucGia" class="waves-effect">Mức giá</a>
                                }
                                </li>
                            <li>
                                @if (Model.MucDienTich.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="MucDienTich" class="waves-effect">Mức diện tích</a>
                                }
                                </li>
                            <li>
                                @if (Model.LoaiBatDongSan.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="LoaiBDS" class="waves-effect">Loại bất động sản</a>
                                }
                                </li>
                            <li>
                                @if (Model.GoiTin.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="GoiTin" class="waves-effect">Gói tin</a>
                                }
                                </li>
                            <li>
                                @if (Model.Huong.TrangThai == true)
                                {
                                    <a asp-controller="DanhMuc" asp-action="Huong" class="waves-effect">Hướng</a>
                                }
                                </li>
                        </ul>
                    </div>
                </li>


                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-cog"></i> Cấu hình<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            @*<li>
                                <a asp-controller="CauHinh" asp-action="Menu" class="waves-effect">Menu</a>
                            </li>*@
                            <li>
                                <a asp-controller="CauHinh" asp-action="MenuClient" class="waves-effect">Thanh Menu</a>
                            </li>
                            <li>
                                <a asp-controller="CauHinh" asp-action="Slide" class="waves-effect">Slide ảnh</a>
                            </li>
                            <li>
                                <a asp-controller="CauHinh" asp-action="Logo" class="waves-effect">Logo</a>
                            </li>
                            <li>
                                <a asp-controller="CauHinh" asp-action="ThongTin" class="waves-effect">Thông tin website</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
</body>

</html>


