
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="container card @*col-lg-10 h-75*@ @*justify-content-center*@ align-items-center" style="padding:0px;">
    <div class="row card-header col-lg-12">Về chúng tôi</div>
    <div class="row card-body">
        
    </div>
</div>

