@model BatDongSanId.Models.TinBatDongSan
@{
    ViewData["Title"] = "CapNhatNgay";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Cập nhật ngày cho tin bất động sản</h4>
    <hr />
    <form asp-action="CapNhatNgay" method="post" enctype="multipart/form-data" id="form1" runat="server">
        <div class="form-group">
            <input type="submit" value="Xác nhận" class="btn btn-primary" />
        </div>
        <div class="col-sm-10">
            <input type="text" asp-for="@Model.ID" class="form-control" />
        </div>
        <div class="custom-file">
            <input asp-for="NgayLenBangTin" class="form-control" placeholder="Chọn ngày" />
            <span asp-validation-for="NgayLenBangTin" class="text-danger"></span>
        </div>
    </form>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imgInp").change(function () {
        readURL(this);
    });
</script>