@model BatDongSanId.Areas.Client.Models.ListViewModels.QLTKListViewModel
@{
    ViewData["Title"] = "TaiKhoan";
    Layout = "~/Areas/Client/Views/Shared/_TaiKhoanLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <img src="@ViewBag.HinhAnh" />
            </div>
            <div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <p>Số tin đã đăng: @Html.Raw(Model.soTinDang)</p>
                </div>
                <div class="col-sm-6">
                    <a asp-action="">Xem chi tiết</a>
                </div>
            </div>
            <div class="row">
                <p>Số tin đã luu: @Html.Raw(Model.soTinLuu)</p>
                <a asp-action="">Xem chi tiết</a>
            </div>
            <div class="row">
                <p>Số dư ví: @Html.Raw(Model.taiKhoanViewModel.SoDuVi)</p>
                <a asp-action="">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>
