
@{
    ViewData["Title"] = "TaiKhoan";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<h1>TaiKhoan</h1>
@*<div class="mystyle-main">
    <div class="mystyle-leftmain">
        
    </div>
    <div class="mystyle-rightmain">

    </div>
</div>*@
<div class="row">
    <div class="nav flex-column nav-pills col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
    <div class="tab-content col-md-9" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            ...
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
</div>


@*<div class="container">
    <h1 class="title-page">Tabs stack</h1>
    <div class="group-tabs">
        <ul class="nav nav-stacked col-md-3" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <div class="tab-content col-md-9">
            <div role="tabpanel" class="tab-pane active" id="home">This is Home content</div>
            <div role="tabpanel" class="tab-pane" id="profile">This is Profile content</div>
            <div role="tabpanel" class="tab-pane" id="messages">This is Messages content</div>
            <div role="tabpanel" class="tab-pane" id="settings">This is Settings content</div>
        </div>
    </div>
</div>*@
