@model BatDongSanId.Areas.Client.Models.ViewModels.DangNhapViewModel
@using Microsoft.AspNetCore.Http;

@{ ViewBag.Title = "Login";
    Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/style.css" type="text/css">

    <link rel="stylesheet" href="~/Client/css/MyStyle.css" type="text/css">


</head>
<body>
    <div class="row h-75 justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Đăng nhập
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="DangNhap" asp-action="Login">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Tài khoản/ Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Mật khẩu" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary">
                        </div>
                    </form>
                    <a class="float-left" asp-controller="DangNhap" asp-action="Register">Đăng ký</a>
                    <a class="float-right" asp-controller="DangNhap" asp-action="KhoiPhucMatKhau">Quên mật khẩu</a>
                    <div id="LoginMessage" style="display:none;">@ViewBag.LoginMessage</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mess = $("#LoginMessage").text();
        if (mess != "" && mess != null) {
            alert(mess);
        }
    })
</script>