@model BatDongSanId.ViewModels.TaiKhoanViewModel

@{ ViewBag.Title = "Login";
                Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Client/css/style.css" type="text/css">

    <link rel="stylesheet" href="~/css/MyStyle.css" type="text/css">


</head>
<body>
    <div class="row justify-content-center">
        <h4>Tạo tài khoản mới</h4>
    </div>
    <hr />
    <div class="row h-75 justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="password" asp-for="MatKhau" class="form-control" placeholder="Nhập mật khẩu" />
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Ten" class="form-control" placeholder="Nhập tên" />
                            <span asp-validation-for="Ten" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.GioiTinh, ViewBag.GioiTinh as SelectList, "Chọn giới tính", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Nhập email" id="emailID" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SoDienThoai" class="form-control" placeholder="Nhập số điện thoại" />
                            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ" />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @if (ViewBag.LoaiTaiKhoanList != null)
                            {@Html.DropDownListFor(model => model.LoaiTaiKhoan, ViewBag.LoaiTaiKhoanList as SelectList, "Chọn loại tài khoản", new { @class = "form-control" })}
                        </div>
                        <div class="form-group">
                            @Html.TextBox("txtRandom", "", new { @class = "form-control", @id = "randomID", @placeholder = "Nhập mã xác nhận" })
                        </div>

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="imgInp" name="file1" onchange="readURL(this);" />
                            <label class="custom-file-label">Thêm ảnh đại diện</label>
                        </div>
                        <div style="margin-top:10px;margin-bottom:10px;">
                            <img id="blah" src="#" alt="&emsp;Ảnh của bạn" />
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Đăng ký" class="btn btn-primary" id="submitID" />
                        </div>
                    </form>
                    <div>
                        <a asp-controller="TrangChu" asp-action="Index">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#randomID").hide();
        var _result = null;
        $("#submitID").click(function () {
            if ($("input").val() == "") {
                alert("Vui lòng nhập đầy đủ thông tin!");
                return false;
            }
            else {
                if ($("#randomID").is(':hidden')) {
                    var val = $("#emailID").val();
                    $.ajax({
                        url: '@Url.Action("SendCode", "DangNhap")',
                        data: { 'add': val },
                        type: "post",
                        success: function (result) {
                            _result = result;
                            alert(_result);
                            alert("Mã xác nhận vừa được gửi đến email của bạn!");
                            $("#randomID").show("slow");
                        }
                    });
                    return false;
                }
                if ($("#randomID").val() != _result) {
                    alert("Mã xác nhận không đúng!");
                    return false;
                }
            }
        });
    })

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imgInp").change(function () {
        readURL(this);
    });
</script>
