@model BatDongSanService.ViewModels.TaiKhoanViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Tạo tài khoản mới</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="MatKhau" class="form-control" placeholder="Nhập mật khẩu"/>
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Ten" class="form-control" placeholder="Nhập tên"/>
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="GioiTinh" class="form-control" placeholder="Giới tính"/>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Nhập email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SoDienThoai" class="form-control" placeholder="Nhập số điện thoại"/>
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DiaChi" class="form-control" placeholder="Nhập địa chỉ"/>
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SoDuVi" class="form-control" placeholder="Nhập số dư ví"/>
                <span asp-validation-for="SoDuVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if(ViewBag.LoaiTaiKhoanList != null)
                {
                    @Html.DropDownListFor(model => model.LoaiTaiKhoan, ViewBag.LoaiTaiKhoanList as SelectList, "Chọn loại tài khoản", new { @class = "form-control"})
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách tài khoản</a>
</div>

