@model BatDongSanId.Models.TinBatDongSan

@{
    ViewData["Title"] = "Them";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<h1>Them</h1>

<h4>TinBatDongSan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Them">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoaiTin" class="control-label"></label>
                <input asp-for="LoaiTin" class="form-control" />
                <span asp-validation-for="LoaiTin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThaiGiaoDich" /> @Html.DisplayNameFor(model => model.TrangThaiGiaoDich)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThaiXacNhan" /> @Html.DisplayNameFor(model => model.TrangThaiXacNhan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDang" class="control-label"></label>
                <input asp-for="NguoiDang" class="form-control" />
                <span asp-validation-for="NguoiDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoiTin" class="control-label"></label>
                <input asp-for="GoiTin" class="form-control" />
                <span asp-validation-for="GoiTin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiBatDongSan" class="control-label"></label>
                <input asp-for="LoaiBatDongSan" class="form-control" />
                <span asp-validation-for="LoaiBatDongSan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhThanh" class="control-label"></label>
                <input asp-for="TinhThanh" class="form-control" />
                <span asp-validation-for="TinhThanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuanHuyen" class="control-label"></label>
                <input asp-for="QuanHuyen" class="form-control" />
                <span asp-validation-for="QuanHuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucGia" class="control-label"></label>
                <input asp-for="MucGia" class="form-control" />
                <span asp-validation-for="MucGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTich" class="control-label"></label>
                <input asp-for="DienTich" class="form-control" />
                <span asp-validation-for="DienTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucDienTich" class="control-label"></label>
                <input asp-for="MucDienTich" class="form-control" />
                <span asp-validation-for="MucDienTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Huong" class="control-label"></label>
                <input asp-for="Huong" class="form-control" />
                <span asp-validation-for="Huong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

