<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang Quản trị</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/Admin/css/mdb.min.css">

    <link rel="stylesheet" href="~/Admin/css/MyStyle.css">

    <!-- Your custom styles (optional) -->
    <style>
    </style>
    @using Microsoft.AspNetCore.Http;
</head>

<body class="fixed-sn white-skin">
    <!--Main Navigation-->
    <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li class="logo-sn waves-effect py-3">
                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Index" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
                    </div>
                    <hr />
                </li>
                <!--/. Logo -->
                <!--Search Form-->
                @*<li>
                    <form class="search-form" role="search">
                        <div class="md-form mt-0 waves-light">
                            <input type="text" class="form-control py-2" placeholder="Tìm kiếm">
                        </div>
                    </form>
                </li>*@
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect arrow-r">
                                <i class="fas fa-user"></i>
                                Tài khoản<i class="fas fa-angle-down rotate-icon"></i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a asp-controller="TaiKhoan" asp-action="TaiKhoan" asp-route-loaiTK="5">Danh sách tài khoản</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="LoaiTaiKhoan">Loại tài khoản</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="far fa-file-alt"></i>Tin bất động sản<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a asp-controller="TinBDS" asp-action="Tin" asp-route-loaiTin="5" class="waves-effect">Tất cả</a>
                                    </li>
                                    <li>
                                        <a asp-controller="TinBDS" asp-action="ChoPheDuyet" class="waves-effect">Chưa duyệt</a>
                                    </li>
                                    <li>
                                        <a asp-controller="TinBDS" asp-action="ChoXacThuc" class="waves-effect">Chưa xác thực</a>
                                    </li>
                                    <li>
                                        <a asp-controller="TinBDS" asp-action="DaGiaoDich" class="waves-effect">Đã giao dịch</a>
                                    </li>
                                    <li>
                                        <a asp-controller="TinBDS" asp-action="PhanHoi" class="waves-effect">Phản hồi</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-edit"></i>Tin tức<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a asp-controller="TinTuc" asp-action="Tin" class="waves-effect">Tin tức</a>
                                    </li>
                                    <li>
                                        <a asp-controller="TinTuc" asp-action="VietBai" class="waves-effect">Viết bài</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-server"></i> Danh mục<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="LoaiTinBDS" class="waves-effect">Loại tin bất động sản</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="LoaiTinTuc" class="waves-effect">Loại tin tức</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="TinhThanh" class="waves-effect">Tỉnh thành</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="QuanHuyen" class="waves-effect">Quận huyện</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="MucGia" class="waves-effect">Mức giá</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="MucDienTich" class="waves-effect">Mức diện tích</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="LoaiBDS" class="waves-effect">Loại bất động sản</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="GoiTin" class="waves-effect">Gói tin</a>
                                    </li>
                                    <li>
                                        <a asp-controller="DanhMuc" asp-action="Huong" class="waves-effect">Hướng</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @*<li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-cog"></i> Cấu hình<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="../components/buttons.html" class="waves-effect">Giới thiệu</a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fas fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                @*<p>Material Design for Bootstrap</p>*@
            </div>

            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown notifications-nav">
                    @await Component.InvokeAsync("BaoCao")
                </li>
                <li class="nav-item">
                    <a asp-controller="" asp-action="" class="nav-link waves-effect"><i class="far fa-comments"></i> <span class="clearfix d-none d-sm-inline-block">Hỗ trợ</span></a>
                </li>
                @if (Context.Session.GetString("username") != null)
                {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">@Context.Session.GetString("username")</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-controller="Home" asp-action="Index">Tài khoản</a>
            <a class="dropdown-item" asp-area="Client" asp-controller="DangNhap" asp-action="Logout">Đăng xuất</a>
        </div>
    </li>}

            </ul>
            <!--/Navbar links-->
        </nav>
        <!-- /.Navbar -->

    </header>
    <!--Main Navigation-->
    <!-- Main layout -->
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!-- Main layout -->
    <!-- Footer -->
    @*<div class="mystyle-footer">
                <footer class="page-footer pt-0 mt-5">

                    <!-- Copyright -->
                    <div class="footer-copyright py-3 text-center">
                        <div class="container-fluid">
                            © 2020 Bản quyền: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank">  </a>

                        </div>
                    </div>
            <!-- Copyright -->
            </footer>
        </div>*@
    <!-- Footer -->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="~/Admin/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Admin/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Admin/js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Admin/js/mdb.min.js"></script>
    <!--Custom scripts-->
    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        var ps = new PerfectScrollbar(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
