@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model BookInfo.Models.Book*@

@{
    Layout = null;
}

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>
            <div class="modal-body">
                <h3>Bạn có chắc muốn xóa cuốn sách này?</h3>
                <div>
                    <hr />
                    <table class="table table-bordered table-striped">
                        @*<tr>
                                <th>Tiêu đề</th>
                                <td>@Html.DisplayFor(model => model.Title)</td>
                            </tr>
                            <tr>
                                <th>Tác giả</th>
                                <td>@Html.DisplayFor(model => model.Author.Name)</td>
                            </tr>*@
                    </table>
                </div>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                @*@using (Html.BeginForm("Delete", "Books", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Xóa" class="btn btn-danger" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    }*@
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
