@model BatDongSanId.Areas.Client.Models.ListViewModels.ChiTietBDSListViewModel

@{
    ViewData["Title"] = "ChiTietTinBDS";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<h1>ChiTietTinBDS</h1>

<div>
    <h4>TinBDSViewModel</h4>
    <hr />
    <dl class="row">
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=171275584290364&autoLogAppEvents=1"></script>

<div class="fb-comments" data-href="https://localhost:44319/Dm/ChiTietTinBDS/@Model.tinBDSViewModel.ID" data-numposts="10" data-width=""></div>
