
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@ViewBag.Message</h1>
    <h1>@ViewBag.ImageTitle</h1>
    <img src="@ViewBag.ImageDataUrl" />
</body>
</html>
