
@{
    ViewData["Title"] = "Successed";
    Layout = "~/Client/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
<h1>Successed</h1>
<h3>Success Page</h3>
Welcome @Context.Session.GetString("username")
Welcome @Context.Session.GetInt32("userID")
<br>
<a asp-controller="account" asp-action="logout">Logout</a>


