
@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpImage</title>
</head>
<body>
    <form asp-action="UpImage"
          asp-controller="DangNhap"
          asp-area="Client"
          method="post"
          enctype="multipart/form-data">
        <input type="file" id="file1"
               name="file1"
               multiple="multiple" />
        <button type="submit">Upload File(s)</button>
    </form>

    <form asp-action="RetrieveImage"
          asp-controller="DangNhap"
          method="post">
        <button type="submit">Show Latest Image</button>
    </form>
</body>
</html>

@*@model BatDongSanService.Models.HinhAnh

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>ImageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileAnh" class="control-label"></label>
                <input asp-for="FileAnh" accept="image/*" />
                <span asp-validation-for="FileAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
